<div class="column is-9">
  <section class="hero is-info welcome is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title" id="biggreet">Hello, Admin.👋</h1>
        <h2 class="subtitle" id="subtitle">
          I hope you are having a great day!
        </h2>
      </div>
    </div>
  </section>
  <section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <span class="icon has-text-danger">
            <i class="fas fa-times-circle" style="font-size: 24px;"></i>
          </span>
          <a class="subtitle" href="#proyek/lihat">Prohibited Items </a>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <span class="icon" style="color: #007bff;">
            <i class="fas fa-question-circle" style="font-size: 20px;"></i>
          </span>
          <a class="subtitle" href="#proyek/faq">FAQ</a>
        </article>
      </div>
      <!-- <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title" id="bigdone">0</p>
          <p class="subtitle">Done</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title" id="bigpoin">0</p>
          <p class="subtitle">Poin</p>
        </article>
      </div> -->
    </div>
  </section>
  <!-- <div class="columns">
    <div class="column is-6">
      <div class="card events-card">
        <header class="card-header">
          <p class="card-header-title">To Do</p>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-table">
          <div class="content">
            <table class="table is-fullwidth is-striped">
              <tbody id="list"></tbody>
            </table>
          </div>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item">View All</a>
        </footer>
      </div>
    </div>
    <div class="column is-6">
      <div class="card events-card">
        <header class="card-header">
          <p class="card-header-title">Doing</p>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-table">
          <div class="content">
            <table class="table is-fullwidth is-striped">
              <tbody id="doing"></tbody>
            </table>
          </div>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item">View All</a>
        </footer>
      </div>

      <div class="card events-card">
        <header class="card-header">
          <p class="card-header-title">Done</p>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-table">
          <div class="content">
            <table class="table is-fullwidth is-striped">
              <tbody id="done"></tbody>
            </table>
          </div>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item">View All</a>
        </footer>
      </div>
    </div>
  </div> -->
</div>
