<h1>Tambah Barang Terlarang</h1>
      <div class="field">
        <label class="label">Destinasi</label>
        <div class="control">
          <input class="input" type="text" id="destinasi" name="destinasi" placeholder="Tulis Destinasi atau negara"required>
        </div>
      </div>

      <div class="field">
        <label class="label">Barang Terlarang</label>
        <div class="control">
          <textarea class="textarea" id="barang_terlarang" name="barang_terlarang" placeholder="Tulis Barang Terlarang"></textarea required>
        </div>
      </div>

      <!-- <div class="field">
        <label for="berat_barang" class="label">Batas Berat Kiriman:</label>
        <div class="control">
          <input class="input" min="0" step="0.01" type="number" name="berat_barang" id="berat_barang" placeholder="Masukan Masksimal Berat Kiriman"required>
        </div>
      </div> -->

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" id="tombolbuatbarang">Kirim</button>
        </div>
        <div class="control">
          <button class="button is-link is-light" id="buttonbatalbarang">Batal</button>
        </div>
      </div>