<h1>Add Prohibited Item</h1>
      <div class="field">
        <label class="label">Destination</label>
        <div class="control">
          <input class="input" type="text" id="destination" name="destination" placeholder=""required>
        </div>
      </div>

      <div class="field">
        <label class="label">Prohibited Items</label>
        <div class="control">
          <textarea class="textarea" id="prohibited_items" name="prohibited_items" placeholder="Enter Prohibited Item"></textarea required>
        </div>
      </div>

      <!-- <label for="max_weight" class="block text-gray-700">
        Max Weight Items:
      </label>
      <input
        type="number"
        id="max_weight"
        name="max_weight"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        required
        placeholder="Enter weight in kg"
        min="0"           
        step="0.01"      
      />
      <div class="field">
        <label for="max_weight" class="label">Max Weight Items:</label>
        <div class="control">
          <input class="input" min="0" step="0.01" type="number" name="max_weight" id="max_weight" placeholder="Enter weight in koli"required>
        </div>
      </div> -->

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" id="tombolbuatproyek">Kirim</button>
        </div>
        <div class="control">
          <button class="button is-link is-light" id="buttonbatalisiproyek">Batal</button>
        </div>
      </div>