<h1>Add Users</h1>
      <div class="field">
        <label class="label">Nama</label>
        <div class="control">
          <input class="input" type="text" id="name" name="name" placeholder=""required>
        </div>
      </div>

      <div class="field">
        <label class="label">Phonenumber</label>
        <div class="control">
          <textarea class="input" type="tell" id="phonenumber" name="phonenumber" placeholder=""></textarea required>
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" id="email" name="email" placeholder=""required>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" id="tombolbuatproyek">Kirim</button>
        </div>
        <div class="control">
          <button class="button is-link is-light" id="buttonbatalisiproyek">Batal</button>
        </div>
      </div>