<h1>Buat FAQ</h1>
      <div class="field">
        <label for="question" class="label">Pertanyaan</label>
        <div class="control">
          <textarea class="textarea" id="question" name="question" placeholder="Gunakan huruf kecil setiap awal kalimat"></textarea required>
        </div>
      </div>

      <div class="field">
        <label for="answer" class="label">Jawaban</label>
        <div class="control">
          <textarea class="textarea" id="answer"name="answer" placeholder="Gunakan \n setelah kalimat untuk membuat baris baru \n\n untuk melewati 1 baris, kata\n, * untuk menebalkan *kata*"></textarea required>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" id="tombolbuatfaq">Kirim</button>
        </div>
        <div class="control">
          <button class="button is-link is-light" id="buttonbatalfaq">Batal</button>
        </div>
      </div>