<div class="container">
    <h1 class="title py-3">Admin</h1>
    <button id="addButtonId" class="button is-primary box btn-flex">
      <i class="bx bx-plus"></i>
      + Admin
    </button>
    <button  id="enButton" class="button is-primary box btn-flex" onclick="window.location.href='#proyek/lihat'">
      Users
    </button>
    <table id="myTable" class="display table is-stripped">
      <thead>
        <tr>
          <th>Nama</th>
          <th>Phonenumber</th>
          <th>Email</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody id="webhook-table-body-id">
        <!-- Rows will be populated by JavaScript -->
      </tbody>
    </table>
  </div>
  