<div class="container">
    <h1 class="title py-3">Barang Terlarang</h1>
    <button id="addButtonId" class="button is-primary box btn-flex">
      <i class="bx bx-plus"></i>
      Tambah barang terlarang
    </button>
    <button  id="enButton" class="button is-primary box btn-flex" onclick="window.location.href='#proyek/lihat'">
      EN
    </button>
    <table id="myTable" class="display table is-stripped">
      <thead>
        <tr>
          <th>Negara</th>
          <th>Barang Terlarang</th>
          <!-- <th>Berat Maksimum Kiriman(dalam koli)</th> -->
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody id="webhook-table-body-id">
        <!-- Rows will be populated by JavaScript -->
      </tbody>
    </table>
  </div>
  