<div class="container">
  <h1 class="title py-3">Users</h1>
  <button id="addButton" class="button is-primary box btn-flex">
    <i class="bx bx-plus"></i>
    + User
  </button>
  <button id="idButton" class="button is-primary box btn-flex" onclick="window.location.href='#proyek/id'">
    Admin
  </button>
  <table id="myTable" class="display table is-stripped">
    <thead>
      <tr>
        <th>Nama</th>
        <th>Phonenumber</th>
        <th>Email </th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody id="webhook-table-body">
      <!-- Rows will be populated by JavaScript -->
    </tbody>
  </table>
</div>
