<div class="container">
  <h1 class="title py-3">Prohibited Items</h1>
  <button id="addButton" class="button is-primary box btn-flex">
    <i class="bx bx-plus"></i>
    Add a new prohibited items
  </button>
  <button id="idButton" class="button is-primary box btn-flex" onclick="window.location.href='#proyek/id'">
    ID
  </button>
  <table id="myTable" class="display table is-stripped">
    <thead>
      <tr>
        <th>Destination</th>
        <th>Prohibited Items</th>
        <!-- <th>Max Weight Item </th> -->
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="webhook-table-body">
      <!-- Rows will be populated by JavaScript -->
    </tbody>
  </table>
</div>
