<h1>Update Informasi Akun</h1>
      <div class="field">
        <label class="label">Nomor Handphone</label>
        <div class="control">
          <input class="input" id="phonenumber" name="phonenumber" type="tel" disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Alias</label>
        <div class="control">
          <input class="input" id="name" name="name" type="text" disabled>
        </div>
      </div>

      <!-- <div class="field">
        <label class="label">Email yang terpasang di Android/iPhone</label>
        <div class="control">
          <input class="input" id="email" name="email" type="email" placeholder="Masukkan email">
        </div>
      </div> -->

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" id="buttonkirimaccount" >Kirim</button>
        </div>
        <div class="control">
          <button class="button is-link is-light" id="buttonbatalaccount">Batal</button>
        </div>
      </div>
